{%extends "base.html"%}

{%block title%}代扣{%endblock%}

{%block css%}
    <link type="text/css" rel="stylesheet" href="/static/style/daterangepicker-bs3.css"/>
    <link type="text/css" rel="stylesheet" href="/static/style/fileinput.min.css" media="all"/>
{%endblock%}
{%block js%}
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/daterangepicker.js"></script>
    <script type="text/javascript" src="/static/js/waiting-dialog.js"></script>
    <script type="text/javascript" src="/static/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/static/js/fileinput_locale_zh.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fileDownload.js"></script>
{%endblock%}

{%block  nav_customservice%}
<li role="presentation" class="active">
    <a href="/custom">客服中心</a>
    <div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/custom/user_view">用户查询</a>
            </li>
            <li class="list-group-item">
                <a href="/custom/record">操作记录</a>
            </li>
            <li class="list-group-item">
                <a href="/custom/feedback">用户反馈</a>
            </li>
            <li class="list-group-item list-group-item-info">
                <a href="/operation/repay4custom">代扣订单</a>
            </li>
        </ul>
    </div>
</li>
{%endblock%}

{%block content%}
<div class="col-md-4">
        <input type="text" class="form-control"  id="query_str" placeholder="手机号/姓名/身份证/订单号" >
</div>
<div class="col-md-2">
        <select id="query_type">
          <option value="none">无查询条件</option>
          <option value="name">姓名</option>
          <option value="id">身份证号码</option>
          <option value="phone">手机号码</option>
          <option value="order">订单号</option>
        </select>
        <a href="#" id="query_repay_apply" class="btn btn-default" role="button">查询</a>
</div>
<div class="col-md-10">
    <div class="btn-toolbar" role="toolbar" aria-label="..." id='timeBox' name='today'>
        <a href="#" name="today"    class="btn btn-primary" role="button">今天</a>
        <a href="#" name="yestoday" class="btn btn-default" role="button">昨天</a>
        <a href="#" name="toweek"   class="btn btn-default" role="button">本周</a>
        <a href="#" name="tomonth"  class="btn btn-default" role="button">本月</a>
        <a href="#" name="all"  class="btn btn-default" role="button">所有</a>
        <a href="#" id='custome_time_picker' name="custom"   class="btn btn-default" role="button">自定义时间</a>
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="..." id='statusBox' name='all'>
        <a href="#" name="all" class="btn btn-primary" role="button">所有</a>
        <a href="#" name="wait_repay" class="btn btn-default" role="button">等待扣款</a>
        <a href="#" name="repay_success" class="btn btn-default" role="button">扣款成功</a>
        <a href="#" name="repay_failed" class="btn btn-default" role="button">扣款失败</a>
        <a href="#" name="part_success" class="btn btn-default" role="button">部分成功</a>
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="..." id='channelBox' name='mifan'>
        <a href="#" name="mifan" class="btn btn-primary" role="button">米饭</a>
        <a href="#" name="xintuo" class="btn btn-default" role="button">信托</a>
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="..." >
        订单期限类型
        <select id="query_strategy_type">
          <option value="0">所有期限</option>
          <option value="10">21天</option>
          <option value="11">28天</option>
          <option value="15">学生三个月</option>
        </select>
    </div>
    <div class='boxA' id='repayTable'>
        <table cellpadding="0" cellspacing="0" border="0" class="display" width="100%" id="repay_loan">
            <thead>
                <tr>
                    {%for column in columns %}
                    <th>{{column}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    {%for column in columns %}
                    <th>{{column}}</th>
                    {%endfor%}
                </tr>
            </tfoot>
        </table>
        <div class="clear"></div>
        <div class="btn-toolbar" role="toolbar" aria-label="..." id='payBox'>
            <!--
            <a href="#" id="export_pay_loan" class="btn btn-primary " role="button">导出名单</a>
            -->
            <a href="#" id="do_repay_loan" class="btn btn-primary " role="button">发起扣款</a>
            <a href="#" id="do_repay_loan_batch" class="btn btn-primary " role="button">批量扣款</a>
            <a href="#" id="export_repay_loan_table" class="btn btn-primary " role="button">导出报表</a>
        </div>
        <!--
        <form id="upload_check_file" enctype="multipart/form-data">
            <input id="check_file" class="file" type="file" multiple data-min-file-count="1">
        </form>
        -->
        <div class="modal fade bs-example-modal" id="repay_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="clear"></div>
    </div>
</div>
{%endblock%}
